.usercontainer{

    position: relative;
    display: flex;
    margin-left: 20%;
    font-family: 'poppins',sans-serif;
 }
.Usersignuppage{
    position: relative;
    display: flex;
    justify-content:space-around;
    background-color:#fff;
    width: 75vh;
    height: 100vh;
    line-height: 2px;
    background: #fff;
    border-radius: 8px;
    overflow: hidden;
}
.Usersignuppage::before{
    content: '';
    position: absolute;
    top: -50%;
    left: -50%;
    width: 500px;
    height: 100vh;
    background: linear-gradient(0deg,transparent,transparent,rgb(21, 144, 238),rgb(21, 144, 238),rgb(21, 144, 238),rgb(21, 144, 238));
    z-index: 1;
    transform-origin: bottom right;
    animation: animate 6s linear infinite;
}
.Usersignuppage::after{
    content: '';
    position: absolute;
    top: -50%;
    left: -50%;
    width: 500px;
    height: 100vh;
    background: linear-gradient(0deg,transparent,transparent,rgb(21, 144, 238),rgb(21, 144, 238),rgb(21, 144, 238),rgb(21, 144, 238));
    z-index: 1;
    transform-origin: bottom right;
    animation: animate 6s linear infinite;
    animation-delay: -3s;
}
@keyframes animate{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}
.Usersignuppage form{
    position: absolute;
    inset: 4px;
    background: linear-gradient(to bottom left,rgba(217,26,93,255),rgb(89,38,100),rgb(15,42,87));
    padding: 30px 70px;
    border-radius: 8px;
    z-index: 2;
    display: flex;
    flex-direction:column;
}
.Usersignuppage form h2{
    color: #fff;
    font-weight: 500px;
    text-align: center;
    letter-spacing: 0.1em;
    margin-bottom: 25px;
}
.Usersignuppage form .userinputbox{
    position: relative;
    width:350px;
    height: 220px;
}

.Usersignuppage form .userinputbox input{
    position: relative;
    width: 100%;
    padding: 30px 0px 20px;
    background: transparent;
    outline: none;
    border:none;
    box-shadow: none;
    color:white;
    font-size: 1em;
    letter-spacing: 0.05em;
    transition: 0.5s;
    z-index: 10;
}
.Usersignuppage form .userinputbox span{
    position: absolute;
    left: 0;
    padding: 40px 0px 30px;
    pointer-events: none;
    color: #8f8f8f;
    font-size: 1em;
    letter-spacing: 0.05em;
    transition: 0.5s;
}
.Usersignuppage form .userinputbox input:valid ~ span,
.Usersignuppage form .userinputbox input:focus ~ span
{
    color:white;
    font-size: 0.75em;
    transform: translateY(-34px);
}
.Usersignuppage form .userinputbox i
{
    position:absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background:#fff;
    border-radius: 4px;
    overflow: hidden;
    transition: 0.5s;
    pointer-events: none;
}
.Usersignuppage form .userinputbox input:valid ~ i,
.Usersignuppage form .userinputbox input:focus ~ i
{
    height: 4px;
}
/* .main form .links{
display: flex;
justify-content: space-between;

} */
.userregister {
    margin: 10px 0;
    font-size: 13.5px;
    color: #8f8f8f;
   
}
/* .line2{
    text-decoration: none;
    color: #8f8f8f;
    padding-left: 65%;
    
}
.line2:hover{
    color:rgb(15, 131, 246);
} */
/* .main form .links a:nth-child(2)
{
    color:#fff;
} */

.Usersignuppage form input[type="submit"]
{
    border: none;
    outline: none;
    padding: 9px 25px;
    background: #fff;
    cursor: pointer;
    font-size: 0.9em;
    border-radius: 4px;
    width: 100px;
    margin-top: 10px;
}
.Usersignuppage form input[type="submit"]:active
{
    opacity: 0.8;
}
.userregister{
    display:flex;
    justify-content:center;
    align-items: center;
    font-size: 13.5px;
}
.userregister:hover{
      color:blue;
}
/* .Usersignuppage form text{
    position: relative;
    color: #fff;
    font-size: 13px;
    padding-top: 30px;
    padding-left: 19%;
    font-size: 13px;
} */
/* .userbtn{

    padding-bottom: 12px;
    padding-left: 28%;
    position: absolute;
    text-decoration: none;
    color: #8f8f8f;
}
.userbtn:hover{
    color:rgb(15, 131, 246);
} */

.userradio{
    display: flex;
    
}
label{
   
    left: 0px;
    padding-right: 13px;
    color: white;
    line-height: 20px;
}
.usermain{
    display: flex;
    width:100;
    height: 100%;

}
.usermain img{
    margin-top: 10%;
    margin-left: 10%;
    width:30%;
    height: 30%;
}